$white: white;
$light-grey: #f4f7f7;
$dark-grey: #7e8182;
$grey: #525252;
$black: #000000;
// $red: #d93025;
$blue: #2e5772;
$running: #5c85a0;
$settled: #1a2e3b;
$company-bg: #375264;
$body-bg: #f2f2f7;

$font-style: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$black-text: #1f1f1f;
$white: #fff;
$yellow: #000;
$red: #ff2f56;
$green: rgb(47, 119, 47);
$border-color: #d6d6d6;
$shadow: 1px 3px $light-grey;
