$bg_color: #d8dfe2;
$blue: #337ab7;
$white: white;
$font-style: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$black-text: #1d1d1f;
$header: rgb(230, 230, 230);
$scrollbar-color: #696969;
